<!--footer-->
<footer class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="#">孝行团队</a></span> |
                <span>联系方式：<a href="#" target="_blank">xiaoxing_TM@163.com</a></span>
            </div>
        </div>
    </div>
</footer>
<script src='../../Public/Js/jquery.js'></script>
<script src='../../Public/Js/bootstrap.min.js'></script>
<script src='../../Public/Js/analysis.js'></script>
</body>
</html>
